* {
  color: black;
}

#hero {
  color: black;
}

#about {
  color: black;
}

#sleeves {
  color: black;
}

#game {
  color: black;
}

.card-flip {
  color: black;
}

#contact-form {
    color: black;
}

#terminal-window {
    color: black;
}

.terminal-form {
    color: black;
}

#contacts {
  color: black;
}
